.add-pet-page {
    padding: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(min-content, 1fr) min-content min-content;
    grid-gap: 10px;
    color: #000000;
}

.add-pet-collapsing-panels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: inherit;
}

.add-pet-elements {
    padding: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(min-content, 1fr) min-content min-content;
    grid-gap: 10px;
}

.add-pet-frame {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 50px 10px;
    background-color: var(--seventh-color);
    box-shadow: 4px 4px 20px 0px #000000;
    border-radius: 20px;
}

.add-pet-essentials {
    align-items: center;
}

.add-pet-required-notice {
    text-align: end;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.add-pet-button-set {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.gender-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.labeled-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(min-content, 1fr) min-content min-content;
    grid-gap: 10px;
}

.add-pet-image {
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.test_checkbox {
    box-shadow: 0px 0px 0px 0px #000000;
}

.labeled-checkbox {
    display: flex;
}

.plus-button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.remove-item-button {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.title-with-plus {
    display: flex;
    justify-content: left;
    align-items: center;
}

.list-item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title-further-info {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

@media(max-width:800px) {
    .add-pet-collapsing-panels {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .add-pet-frame {
        padding: 20px;
        box-shadow: none;
    }

    .add-pet-page {
        padding: 20px 10px;
        grid-gap: 0;
    }
}