.add-pet-page {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 25px auto 30px;
    height: 100%;
}

.add-progress {
    grid-column: 2;
    margin-bottom: 20px;
    background-color: #606873;
}

.add-progress::-webkit-progress-value {

    background-color: #ffc542; /* Change the color of the filled part to red */
}

.add-progress::-moz-progress-bar {

    background-color: #ffc542; /* Change the color of the filled part to red in Firefox */
}


.add-progress progress[value]::-ms-fill {
    background-color: #ffc542; /* Change the color of the filled part to red in Internet Explorer */
}

.add-pet-content {
    grid-row: 2;
    grid-column: 2;
    min-width: 80%; 
    background-color: #153b44;
}

.requiered-label {
    grid-row: 3;
    grid-column: 2;
    text-align: end;
    color: gray;
    font-style: italic;
}

.add-pet-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75.8333px auto 50px;
    align-items: center;
    padding: 0px 10px 20px 10px;
    justify-items: center;
    border-radius: 10px;
}

.page-navbar {
    display: grid;
    width: 200px;
    height: 50px;
    grid-template-columns: 50px 100px 50px;
}

.nav-button {
    font-weight: bolder;
}

.page-back {
    grid-column: 1;
}

.page-forward {
    grid-column: 3;
}

.page-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}