.post-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 50px auto 10px auto;
    width: 50%;
}

.post-button {
    margin-left: 10px;
}

.post-input {
    width: 50%;
}

.select-genus {
    margin-bottom: 10px;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.feedback {
    color: var(--sixth-color);
    opacity: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.feedback.shown {
    opacity: 1;
}