.App {
  text-align: center;
  background-color: #071C21;
  color: white;
  font-family: Arial, sans-serif;
  height: auto;
  height: 100vh;
  display: grid;
  row-gap: 20px;
  grid-template-rows: 100px;
}

.content {
  display: flex;
  flex-direction: column;
}