.react-aria-Menu {
    background-color: white;
    box-shadow: 4px 4px 20px 0px #000000;
    color: black;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.react-aria-MenuItem {
    padding: 5px;
    border-radius: 5px;
}

.react-aria-MenuItem:hover {
    background-color: var(--ninth-color);
}