.react-aria-Popover {
    background-color: white;
    box-shadow: 4px 4px 20px 0px #000000;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.react-aria-MenuItem {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.react-aria-MenuItem:hover {
    background-color: var(--ninth-color);
}

.react-aria-Button {
    &[data-disabled]{
        background-color: var(--secondary-color);
        color: var(--fifth-color);
    }
}

.react-aria-ModalOverlay {
    z-index: 1000;
    position: absolute;
    background-color: #00000055;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: auto;
}

.react-aria-Modal {
    text-wrap: wrap;
    position: absolute;
    background-color: var(--seventh-color);
    box-shadow: 4px 4px 20px 0px #000000;
    border-radius: 20px;
    color: var(--primary-color);
    max-width: 100%;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    padding: 20px;
    width: min-content;
}

.react-aria-Switch {
    display: flex;
    align-items: center;
    gap: 0.571rem;
    font-size: 1.143rem;
    color: var(--primary-color);
    forced-color-adjust: none;
  
    .indicator {
      width: 2rem;
      height: 1.143rem;
      border: 2px solid var(--primary-color);
      background: var(--fourth-color);
      border-radius: 1.14rem;
      transition: all 200ms;
  
      &:before {
        content: '';
        display: block;
        width: 0.857rem;
        height: 0.857rem;
        background: var(--ninth-color);
        border-radius: 16px;
        transition: all 200ms;
      }
    }

    &[data-selected] {
      .indicator {
        border-color: var(--primary-color);
        background: var(--ninth-color);
  
        &:before {
          background-color: var(--seventh-color);
          transform: translateX(100%);
        }
      }
    }
  }