.chat-list-element {
    color: black;
    padding: 10px 10px;
    transition: background-color 0.25s;
}

.chat-list-element:not(:first-child) {
    border-top: 1px solid black;
}

.chat-list-element:hover {
    background-color: var(--ninth-color);
}

.chat-list-element-title {
    font-size: 1.5rem;
}

.chat-list-element-message-preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-list-element-timestamp {
    text-align: end;
    font-size: 0.8em;
    color: var(--secondary-color);
}