.forum-page {
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas: 
        "searchBar"
        "searchResult"
        "threads"
        "button";
}

.forum-header {
    grid-area: searchBar;
    width: 100%;
    height: 75px;
    background-color: var(--third-color);
    color: var(--seventh-color);
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 5;
}

.search-button {
    margin: 0 10px;
    width: 40px;
    height: 40px;

}

.search-button:hover {
    color: var(--sixth-color);
    cursor: pointer;
}

.search-input {
    width: 300px;
}

.forum-threads {
    grid-area: threads;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.thread-card {
    line-height: 1.5;
    color: var(--primary-color);
    padding: 20px;
    flex-grow: 1;
    width: 500px;
    height: 300px;
    background-color: var(--seventh-color);
    box-shadow: 4px 4px 30px 0px black;
    margin: 20px;
    border-radius: 20px;
    transition: 0.2s;
    position: relative;
}

.creator-icon {
    width: 30px;
    height: 30px;
    color: var(--tenth-color);
    position: absolute;
    left: 20px;
    top: 20px;
}

.thread-card.own {
    border: 2px solid var(--tenth-color);
}

.thread-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: var(--eighth-color);
}

.thread-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.thread-timestamp {
    color: var(--third-color);
    font-size: 0.8em;
} 

.thread-timestamp.own {
    margin-left: 40px;
}

.thread-species {
    color: var(--tenth-color);
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--eighth-color);
    padding: 2px 4px;
    border-radius: 3px;
    transition: 0.2s;
}

.thread-card:hover .thread-species {
    background-color: var(--seventh-color);
}

.thread-creator {
    color: var(--third-color);
    font-size: 0.8em;
    margin-bottom: 8px;
    position: absolute;
    right: 12px;
    bottom: 5px;
    padding: 2px 4px;
    opacity: 0;
    background-color: inherit;
    transition: opacity 0.2s ease;
}

.thread-card:hover .thread-creator {
    transition-delay: 0.2s;
    opacity: 1;
}

.thread-name {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 4px;
}

.thread-description {
    color: var(--secondary-color);
    font-size: 1em;
}

.new-thread-button {
    color: var(--primary-color);
    width: 60px;
    height: 60px;
    right: 30px;
    position: fixed;
    bottom: 30px;
    background-color: var(--seventh-color);
    border-radius: 50%;
    box-shadow: 4px 4px 30px 0px var(--primary-color);
}

.new-thread-button:hover {
    color: var(--sixth-color);
    cursor: pointer;
    grid-area: button;
}

.search-results {
    grid-area: searchResult;
    margin: 20px auto 0 auto;
    width: 50%;
    text-align: center;
    color: var(--seventh-color);
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 4px 4px 10px 0px black;
    border-radius: 10px;
}

.forum-threads.results {
    margin: 0 20px 20px 20px;
}

@media screen and (max-width: 600px) {
    .thread-card {
        width: 90%;
    }
    .search-input {
        width: 80%;
    }
    .search-results {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .thread-card {
        width: 95%;
        padding: 10px;
        margin: 10px auto;
    }
}