.app-header {
    width: 100%;
    height: 75px;
    background-color: var(--seventh-color);
    color: #000000;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
    text-transform: uppercase;
    box-shadow: 0px 15px 40px 0px rgb(61, 61, 61);

}

.menu-icon {
    margin-left: 20px;
    cursor: pointer;
    display: none;
    z-index: 6;
    color: rgb(0, 0, 0);
}

.menu-icon:hover .menu-line {
    background-color: red;
}


.menu-line {
    width: 30px;
    height: 5px;
    border-radius: 30%;
    background-color: var(--primary-color);
    margin: 3px 0;
}

.site-title {
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
}

.menu-items {
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
}

@media (max-width: 850px) {
    .menu-items {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

.menu-item a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    text-transform: uppercase;
}

.menu-item a:hover {
    font-weight: bolder;
    color: red;
}

.user-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-settings {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 80px;
    cursor: pointer;
}

.user-settings:hover {
    color: red;
}

.user-menu:hover {
    color: red;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: var(--third-color);
    left: -65%;
    position: fixed;
    width: 60%;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 10;
    border-right: 3px solid #071C21;
}

.navbar.open {
    left: 0;
}

.navbar-items {
    margin-top: 15vh;
    margin-left: 20%;
    width: min-content;
    height: 100%;
    text-align: left;
    line-height: 2.5;
}

.navbar-item a {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    color: #add8e6;
}

.navbar-item a:hover {
    color: white;
}