.header-bar-app-header {
  width: 100%;
  height: 75px;
  background-color: var(--seventh-color);
  color: #000000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header-bar-menu-icon {
  margin-left: 20px;
  cursor: pointer;
  display: none;
  z-index: 6;
  color: rgb(0, 0, 0);
}

.header-bar-menu-icon:hover .menu-line {
  background-color: var(--tenth-color);
}

.header-bar-menu-line {
  width: 30px;
  height: 5px;
  border-radius: 1000000px;
  background-color: var(--primary-color);
  margin: 3px 0;
}

.header-bar-site-title {
  font-size: 24px;
  margin: 0;
  margin-left: 20px;
}

.header-bar-menu-items {
  display: flex;
  margin-left: 50px;
  margin-right: 20px;
}

@media (max-width: 850px) {
  .header-bar-menu-items {
    display: none;
  }

  .header-bar-menu-icon {
    display: block;
  }

  .header-bar-site-title {
    display: none;
  }
}

.header-bar-menu-item a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  color: #000000;
  text-transform: uppercase;
}

.header-bar-menu-item a:hover,
.header-bar-menu-item a:focus {
  outline: none;
  font-weight: bolder;
  color: var(--tenth-color);
}

.header-bar-user-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  background-color: inherit;
  color: black;
}

.header-bar-user-settings {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 80px;
  cursor: pointer;
}

.header-bar-user-settings:hover {
  color: var(--tenth-color);
}

.header-bar-user-menu:hover,
.header-bar-user-menu:focus {
  outline: none;
  color: var(--tenth-color);
  border-color: transparent;
  background-color: inherit;
}

.header-bar-navbar {
  justify-content: space-between;
  align-items: center;
  background-color: var(--seventh-color);
  left: -65%;
  position: fixed;
  width: 60%;
  height: 100%;
  transition: left 0.3s ease-in-out;
  z-index: 10;
  border-right: 3px solid #071c21;
}

.header-bar-navbar.open {
  left: 0;
}

.header-bar-navbar-items {
  margin-top: 15vh;
  margin-left: 20%;
  width: min-content;
  height: 100%;
  text-align: left;
  line-height: 2.5;
}

.header-bar-navbar-item a {
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  color: #000000;
}

.header-bar-navbar-item a:hover {
  color: var(--tenth-color);
}
