.petlist-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  width: 50%;
}

.home {
  text-align: center;
  overflow-y: auto;
  height: 100%;
}

.homepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;
}

.full-width-image {
  background-image: url("/Hintergrundtest.jpg"); /* Ersetzen Sie 'pfad/zum/bild.jpg' durch den tatsächlichen Pfad zu Ihrem Bild */
  background-size: cover;
  background-position: center;
  height: 100dvh; /* Höhe der Viewport-Höhe */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -330px;
}

.greeting {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Fügt einen Schatten zur Überschrift hinzu */
  background-color: #f1f1f1;
  text-transform: uppercase;
  margin-top: -100px;
}

.home_greeting {
  font-size: 100px;
  color: #1a1a1aa8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home_title {
  margin-top: -120px;
  font-size: 100px;
  color: #1a1a1aa8;
  text-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 850px) {
  .home_greeting {
    font-size: 50px;
    margin-top: 100px;
  }
  .home_title {
    font-size: 50px;
    margin-top: -50px;
  }
  .petlist-container {
    width: 95%;
    margin: auto;
  }

  .full-width-image {
    margin-top: -220px;
    background-position: center; /* Das Bild wird zentriert positioniert */
    height: 400px;
  }

  .homepage-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
  }
}
