.image-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 50%;
}

.image-selector-overlay-button {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 50%;
    opacity: 10%;
}

.image-selector-overlay-button:hover {
    background-color: black !important;
    opacity: 50%;
}

.image-selector-overlay-button svg {
    z-index: 1;
    width: 3em;
    height: 3em;
}

.image-selector-image {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}