.input-container {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #00a8ff;
    background-color: transparent;
    color: white;
    font-size: 16px;
}