.notification {
    background-color: var(--seventh-color);
    padding: 10px;
    padding-right: 20px;
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: 300px;
}

.notification:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.notification-text{
    overflow: hidden;
    width: 80%;
}

.notification-message {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 100%;
    padding-bottom: 10px;
}

.notification-loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #4CAF50;
    width: 100%;
    transition: width 0.3s ease-out;
    animation: loading 7s forwards;
    overflow: hidden;
}

@keyframes loading {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.notification-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
}

.notification-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    color: var(--ninth-color);
    margin: auto 10px auto auto;
}

.notification-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.notification-title {
    font-weight: 700;
    font-size: 1.4rem;
}