.pet-profile-attribute {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgb(110, 110, 110);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background: #555555;
    color: white;
}

.pet-profile-attribute input[type=radio] {
    width: auto;
}

.pet-profile-attribute input[type=checkbox] {
    width: auto;
}

.pet-profile-image {
    width: 50%;
}

.pet-profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 4px 4px 30px 0px #000000;
    padding: 10px 10px 20px 10px;
}

.pet-profile-main .poster-info {
    align-self: self-start;
}

.pet-profile-text {
    font-size: 15px;
    font-weight: bold;
    color: #404040;
    background: #e5e5e5;
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgb(213, 213, 213);
    border-radius: 5px;
    width: 100%;
}

.pet-profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

}

.pet-profile {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 20px
}

.pet-profile-text-container {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

@media(max-width:800px) {
    .pet-profile {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
    }
}