.poster-info {
    width: min-content;
    height: min-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    font-size: 0.7em;
    white-space: nowrap;
    color: #2b2b2b;
}

.poster-info-image {    
    width: 1.5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}