.poster-info {
    background-color: inherit;
    width: min-content;
    height: min-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    font-size: 0.7em;
    padding: 5px;
    border-radius: 1px;
    white-space: nowrap;
    color: #2b2b2b;
    cursor: pointer;
    transition: all 0.2s;
}

.poster-info:hover {
    background-color: var(--eighth-color);
}

.poster-info-image {    
    width: 1.5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}