.reminder-page>input[type="text"],
.reminder-page>input[type="date"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.reminder-page>input[type="checkbox"] {
  margin-right: 8px;
  vertical-align: middle;
  box-shadow: none;
}

.reminder-page>input[type="checkbox"]:checked+label {
  font-weight: bold;
  color: #333;
  vertical-align: middle;
}

.scroll-page {
  overflow-y: auto;
  height: 100%;
}

.reminder-page>label {
  font-size: 16px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.add-reminder-frame {
  color: var(--primary-color);
  line-height: 1.5;
  padding: 20px;
  flex-grow: 1;
  min-height: 400px;
  background-color: var(--seventh-color);
  box-shadow: 4px 4px 30px 0px #000000;
  margin: 20px;
  border-radius: 20px;
  transition: 0.2s;
  position: relative;
  width: 80%;
  margin: auto;
}

.add-reminder-buttons {
  gap: 20px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.inputLabel {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
}

.reminder-page {
  padding-top: 30px;
}

@media screen and (max-width: 800px) {
  .inputLabel {
    font-size: 15px;
  }

  .reminder-interval-data {
    display: grid;
  }

  .reminder-interval-input,
  select {
    width: 80%;
  }
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminder-interval-data {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.reminder-interval-input,
select {
  width: 40%;
}

