input[type="text"],
input[type="date"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 8px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: #333;
  vertical-align: middle;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.add-reminder-frame {
  flex-direction: column;
  row-gap: 10px;
  padding: 50px 10px;
  background-color: var(--seventh-color);
  box-shadow: 4px 4px 20px 0px #000000;
  place-items: center;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
}

.add-reminder-buttons {
  gap: 20px;
}

.inputLabel {
  color:#000000;
}
