.sign-up-container {
  line-height: 1.5;
  color: var(--primary-color);
  padding: 20px;
  width: 500px;
  background-color: var(--seventh-color);
  box-shadow: 4px 4px 30px 0px black;
  margin: auto;
  border-radius: 20px;
  transition: 0.2s;
  border: 2px solid var(--tenth-color);
}

@media screen and (max-width: 550px) {
  .sign-up-container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .sign-up-container {
    padding: 10px;
    width: 95%;
  }
}


h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.signup-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.signup-input-error[type="text"], 
.signup-input-error[type="password"], 
.signup-input-error[type="email"]{
  border-color: red;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: right;
}

.loginQuestion {
  margin-top: 10px;
  text-align: center;
}