.thread-main {
    width: calc(100% - 20px);
    max-width: 1500px;
    margin: 50px auto 20px auto;
    padding: 10px;
    background-color: var(--seventh-color);
    color: black;
    box-shadow: 4px 4px 20px 0px #000000;
}

.thread-head {

}

.thread-title {

}

.thread-description {

}

.thread-comment-section {

}

.thread-comments-gap {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
}

.thread-post-comment {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 10px;
    grid-template-rows: min-content auto;
    margin-bottom: 20px;
}

.thread-comment-text {
    resize: none;
    grid-row: 1 / 3;
}

.thread-next-button {
    justify-self: center;
}

.thread-comment-section-nav:nth-child(1) {
    grid-column: 2;
}