.App {
  text-align: center;
  background-color: #071C21;
  color: white;
  font-family: Arial, sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 100%;
  background-color: #41CC5F;
  color: black;
  display: flex;
  position: sticky;
  top: 0;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.menu-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #00a8ff;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  padding: 50px;
}

.register-link {
  font-size: 14px;
}

.my-pets-module {
  background-color: #153B44;
  color: #43A4BC;
  padding: 20px;
  border-radius: 8px;
  display: inline;
  position: relative;
  width: 50%;
  margin-bottom: 20px;
}

.pets {}

.my-pets-module h2 {
  font-size: 24px;
  margin: 0px auto 20px auto;
  background-color: #43A4BC;
  border-radius: 10px;
  color: #153B44;
}

.pet-tile {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

hr {
  color: #43A4BC;
}

.pet-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
}

.pet-info {
  text-align: left;
  margin-right: 50px;
}

.view-pet-button {
  margin-left: auto;
  color: #153B44;
}

.pet-name {
  font-size: 20px;
  margin: 0;
}

.pet-type {
  font-size: 14px;
  margin: 0;
}

.add-pet-button {
  margin-top: 20px;
  color:#43A4BC;
  width: 50px;
  height: 50px;
}

.add-pet-button:hover {
  color: #071C21;
  cursor: pointer;
}