html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  --primary-color: #000000;
  --secondary-color: #3f3f3f;
  --third-color: #6b6b6be7;
  --fourth-color: rgba(207, 207, 207, 0.856);
  --fifth-color: #7f7f7f;
  --sixth-color: #e9e9e9;
  --seventh-color: #ffffff;
  --eighth-color: #ddddff;
  --ninth-color: #00a6ff;
  --tenth-color: #0079d3;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/leaves-natural.jpg');
  background-repeat: repeat; 
  background-color: rgb(162, 162, 162);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5d5d5d;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}

select {
  border-radius: 8px;
  border: 2px solid #43A4BC;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  background: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input.normal_checkbox {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  background: white;
  color: black;
  box-shadow: none;
}

input:hover {
  border-color: var(--ninth-color);
}

input:focus {
  background-color: rgb(230, 230, 230);
  border-color: var(--ninth-color);
}

option {
  color: white;
}

button:hover {
  border-color: var(--ninth-color);
    background-color: var(--tenth-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;

}